@{
    ViewBag.Title = "Editar Medicamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<form action="/Home/Guardar" method="post">
    <div class="row">
        <div class="col col-md-6">
            <div class="form-group">
                <label for="IdMedicamento">Id</label>
                <input type="number"
                       class="form-control"
                       id="IdMedicamento"
                       name="IdMedicamento"
                       placeholder="Id"
                       readonly
                       value="@ViewBag.Medicamento.IdMedicamento"
                       required
                       />
            </div>
        </div>
        <div class="col col-md-6">
            <div class="form-group">
                <label for="Nombre">Nombre Medicamento</label>
                <input type="text"
                       class="form-control"
                       id="Nombre"
                       name="Nombre"
                       placeholder="Nombre Medicamento" 
                       value="@ViewBag.Medicamento.Nombre"
                       required
                       />
            </div>
        </div>
        <div class="col col-md-6">
            <div class="form-group">
                <label for="Concentracion">Concentración</label>
                <input type="text"
                       class="form-control"
                       id="Concentracion"
                       name="Concentracion"
                       placeholder="Concentración" 
                       value="@ViewBag.Medicamento.Concentracion"
                       required
                       />
            </div>
        </div>
        <div class="col col-md-6">
            <div class="form-group">
                <label for="IdFormaFarmaceutica">Forma Farmacéutica</label>
                <select 
                        class="form-control" 
                        name="IdFormaFarmaceutica" 
                        id="IdFormaFarmaceutica"
                        required
                        >
                    <option value="">-- Seleccione --</option>
                    @foreach (var forma in ViewBag.listaFormas)
                    {
                        <option 
                                value="@forma.IdFormaFarmaceutica" 
                                    @( forma.IdFormaFarmaceutica == ViewBag.Medicamento.IdFormaFarmaceutica ? "selected" : "")
                                >@forma.Nombre</option>
                    }
                </select>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="form-group">
                <label for="Precio">Precio</label>
                <input type="number"
                       class="form-control"
                       id="Precio"
                       name="Precio"
                       placeholder="Precio" 
                       min="0"
                       step="0.01"
                       value="@ViewBag.Medicamento.Precio"
                       required
                />
            </div>
        </div>
        <div class="col col-md-6">
            <div class="form-group">
                <label for="Stock">Stock</label>
                <input type="number"
                       class="form-control"
                       id="Stock"
                       name="Stock"
                       placeholder="Stock" 
                       min="0"
                       step="1"
                       value="@ViewBag.Medicamento.Stock"
                       required
                />
            </div>
        </div>
        <div class="col col-md-6">
            <div class="form-group">
                <label for="Presentacion">Presentacion</label>
                <input type="text"
                       class="form-control"
                       id="Presentacion"
                       name="Presentacion"
                       placeholder="Presentacion" 
                       value="@ViewBag.Medicamento.Presentacion"
                       required
                />
            </div>
        </div>
        <div class="col col-md-6">
            <div class="form-group">
                <label for="BHabilitado">Habilitado</label>
                <select class="form-control"
                        id="BHabilitado"
                        name="BHabilitado"
                        required
                >
                    <option value="">-- Seleccione --</option>
                    <option value="1" 
                            @((int)ViewBag.Medicamento.BHabilitado == 1 ? "selected" : "")
                            >Habilitado</option>
                    <option value="0"
                            @((int)ViewBag.Medicamento.BHabilitado == 0 ? "selected" : "")
                            >No habilitado</option>
                </select>
            </div>
        </div>
        <div class="col col-md-6">
            <button
                    type="submit"
                    class="btn btn-success btn-block"
                    >Guardar</button>
        </div>
    </div>
</form>

<div style="margin-top: 10px;">
    @Html.ActionLink("Ir a la lista", "Index")
</div>
